{
  email {$TRACKBRIDGE_ACME_EMAIL:admin@example.com}
}

{$TRACKBRIDGE_DOMAIN:localhost} {
  encode zstd gzip

  handle /api/* {
    reverse_proxy backend:8000
  }

  handle /t/* {
    reverse_proxy backend:8000
  }

  handle /c/* {
    reverse_proxy backend:8000
  }

  handle /a/* {
    reverse_proxy backend:8000
  }

  handle /openapi.json {
    reverse_proxy backend:8000
  }

  handle /docs* {
    reverse_proxy backend:8000
  }

  handle {
    reverse_proxy frontend:80
  }
}
